{% extends 'layout.html' %}

{% block page_content %}
    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.lead }}</p>
    <p><a href="{{ resume }}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-download"></span> Download resume as pdf</a></p>
    <hr>
    {{ page.html|safe }}
{% endblock %}

{% block sidebar %}
<img src="{{ url_for('static', filename='images/portrait-md.png') }}" class="img-rounded img-responsive" alt="Marco Hemken"> <a href="https://qwiklabs.com/public_profiles/85ae0b5e-56ff-439a-8bdd-2ad83e504c2a" target="blank"> <img src="https://s3.amazonaws.com/run-qwiklab-website-prod/badges/images/16/original/QuestBadge_SysOps_Associate_90x90.png?1460999601" class="img-rounded img-responsive center-block" alt="Marco Hemken"></a>
{% endblock sidebar %}
