{% extends "layout.html" %}

{% block page_content %}
            <h1>Blog</h1>
            <p class="lead">I am one of several event organizers and hosts for <a href="https://www.meetup.com/LearnTeachCode/">Learn Teach Code</a>. My series of meetups is Cloud Ops 101. These articles are meant to supplement those meetings.</p>
            <hr>

            <ul class="list-group">
            {% for post in posts %}
            <a href="/blog/{{ post.slug }}/" class="list-group-item list-group-item-action">
                <p>{{ post.date }}</p>
                <p class="lead text-primary">{{ post.title }}</p>
                <p>{{ post.teaser }}</p>
            </a>
            <br>
            {% endfor %}
            </ul>

            <!--
            -->
{% endblock page_content %}

{% block sidebar %}
{% endblock sidebar %}
