{% extends "layout.html" %}

{% block page_content %}
            <h1>Blog</h1>
	    <p class="lead">I don't get to writing blog posts too often. This blog started out with some DevOps/Cloud Automation stuff but I think it's going to take a turn toward Data Science. I'll announce new posts on twitter, so follow me! <a href="https://twitter.com/mehemken">@mehemken</a></p>
            <hr>

            <ul class="list-group">
            {% for post in posts %}
            <a href="/blog/{{ post.slug }}/" class="list-group-item list-group-item-action">
                <p>{{ post.date }}</p>
                <p class="lead text-primary">{{ post.title }}</p>
                <p>{{ post.teaser }}</p>
            </a>
            <br>
            {% endfor %}
            </ul>

            <!--
            -->
{% endblock page_content %}

{% block sidebar %}
{% endblock sidebar %}
